.todo_input {
  width: 100%;
  background-color: rgb(242, 242, 242);
  padding: 20px 0 20px 50px;
  border: none;
  font-size: 24px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-style: italic;
    opacity: 0.2;
  }
}